body{
  background-color: white;
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 16px;
  margin-bottom: 40px;
  color: white;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
}

h4{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}

#wrapper{
  background-color: #383838;
  width: 60%;
  margin: auto;
  margin-top: 100px;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 5px 15px grey;
}

#landing{
  background-color: #383838;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;

}

#landing img{
  max-width: 300px;
}

#numbers{
  background-color: #383838;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #383838;
  text-align: left;
}



#numbers button{
  align-self: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-color: #88B73F;
  border: 1px solid;
  border-color: #88B73F;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#numbers button:hover{
background-color: white;
color: #383838;
border: 1px solid;
border-color: white;
}

#events{
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  /* border-left: solid 3px #88B73F;
  border-right: solid 3px #88B73F;
  margin-left: 10px;
  margin-right: 10px; */
}

#events button{
  align-self: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-color: #88B73F;
  border: none;
  border: 1px solid;
  border-color: #88B73F;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#events button:hover{
background-color: white;
color: #383838;
border: 1px solid;
border-color: #88B73F;
}

button:hover {
  cursor: pointer;
}

#some{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  /* border-left: solid 3px #88B73F;
  border-right: solid 3px #88B73F;
  margin-left: 10px;
  margin-right: 10px; */
  border-top: 1px dashed;
  border-image:  linear-gradient(to right, #88B73F 50%, transparent 50%) 100% 1;
}

#some img{
  max-width: 50%;
}

#some a{
  text-decoration: none;
  color: #0072B1;
  display: inline-block;
  position: relative;
}

#some a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#some a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#bottom{
  background-color: #242424;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
  color: white;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
  padding-bottom: 70px;
}

#bottom a{
  text-decoration: underline;
  color: white;
}


/* #some h3{
  padding-left: 50px;
  font-size: 5rem;
  margin: auto;
} */

/* @media only screen and (max-width: 949px) and (min-width: 750px){
  h3{
    color: red;
  }
} */
@media only screen and (min-width: 850px){

  h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 70px;
    margin-bottom: 10px;
    align-self: flex-start;
}

  #some h3{
    padding-left: 50px;
    font-size: 5rem;
    margin: auto;
  }

  p{
    font-size: 20px;
  }

  #events{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  #landing{
    background-color: #383838;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  #landing h3{
    font-size: 80px;
    margin-top: 0;
  }

  #some a::after {
    height: 4px;
  }

  #some{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  #some h3{
    font-size: 4rem;

/* #some{
  display: flex;
  flex-direction: column;
}

#some h3{
  font-size: 3rem;

}
  } */
